<h2>quotes you starred</h2>

<div class="transitions-enabled masonry grid">
    <% @stars.each do |star| %>
        <%= link_to category_script_path(star.script.category, star.script) do %>
        <div class= "grid-item">
          <p><%= star.script.quote %></p>
        </div>
        <% end %>
    <% end %>
</div>

<% if @stars == [] %>
 <p>you haven't starred any quotes</p>
<% end %>

<h2>quotes you posted</h2>
  <% @scripts.each do |script| %>
  <% if script.user == current_user %>
  <%= script.quote %>
  <% end %>
<% end %>

<% if @scripts == [] %>
 <p>you haven't posted any quotes</p>
<% end %>
