/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/centered'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

body {
  text-transform: lowercase;
}

.centered { margin: 0 auto; }

.box {
  width: 200px;
}
.box a {
  color: black;
  text-decoration: none;
}

p {
  font-family: monospace;
  font-size: 20px;
}

h1, h2 {
  font-family: 'PT Mono', monospace;
}

h1 {
  font-size: 4em;
}

li {
  display: inline-block;
  font-family: monospace;
  font-size: 20px;
  text-transform: lowercase;
  padding: 5px;
  margin: 0 3px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

li a {
  text-decoration: none;
  color: black;
}

li:hover {
  box-shadow: 0 6px 10px rgba(0,0,0,0.4);
}

.home-content {
  margin: 20% auto;
  text-align: center;
}

.home-typewriter {
  display: flex;
  justify-content: center;
}

.typewriter h1 {overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid grey; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(20, end),
    blink-caret 1s step-end infinite;
  }

  @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: grey; }
}
