<div class="main-home">

  <div class="home-content">
    <div class="home-typewriter">
      <div class="typewriter">
        <h1>scripts</h1>
      </div>
    </div>

    <h2>subheading about favorite quotes</h2>

    <div class="home-categories">
      <% @categories.each do |category| %>
        <li><%= link_to "#{category.name}", category_path(category) %></li>
      <% end %>
        <%# <li> %>
          <%# <%= link_to "All", scripts_path %>
      <%#   </li> %>
    </div>
  </div>

</div>
