<div class="main-home">

  <div class="home-content">
    <div class="home-typewriter">
      <div class="typewriter">
        <h1>scripts</h1>
      </div>
    </div>

    <h2>view, guess, and share your favorite quotes</h2>

    <div class="home-categories">
      <% @categories.each do |category| %>
        <%= link_to "#{category.name}", category_path(category) %>
      <% end %>
    </div>
  </div>

</div>
